<div class="container">
                <div class="footer-container">
                    <p>Av. Brasil, N° 2971 – Compensa I - CEP: 69036-110 -
                        Ouvidoria: 0800-092-0111 - Fax: 3625-6991</p>
                    <p>© 2017 - Secretaria Municipal de Finanças, Planejamento e
                        Tecnologia da Informação - SEMEF.</p>
                    <p>Nosso município tem apoio do PMAT. </p>
                </div>
            </div>

            <div class="container">
                <div class="footer-container">
                    <p>Av. Brasil, N° 2971 – Compensa I - CEP: 69036-110 -
                        Ouvidoria: 0800-092-0111 - Fax: 3625-6991</p>
                    <p>© 2017 - Secretaria Municipal de Finanças, Planejamento e
                        Tecnologia da Informação - SEMEF.</p>
                    <p>Nosso município tem apoio do PMAT. </p>
                </div>
            </div>
            <div class="container">
                <div class="footer-container">
                    <p>Av. Brasil, N° 2971 – Compensa I - CEP: 69036-110 -
                        Ouvidoria: 0800-092-0111 - Fax: 3625-6991</p>
                    <p>© 2017 - Secretaria Municipal de Finanças, Planejamento e
                        Tecnologia da Informação - SEMEF.</p>
                    <p>Nosso município tem apoio do PMAT. </p>
                </div>
            </div>
            <div class="container">
                <div class="footer-container">
                    <p>Av. Brasil, N° 2971 – Compensa I - CEP: 69036-110 -
                        Ouvidoria: 0800-092-0111 - Fax: 3625-6991</p>
                    <p>© 2017 - Secretaria Municipal de Finanças, Planejamento e
                        Tecnologia da Informação - SEMEF.</p>
                    <p>Nosso município tem apoio do PMAT. </p>
                </div>
            </div>